<header>
    <div>
    <a routerLink='/home'>The Planets</a>
    <button (click)='changeMenu()'>
      <mat-icon *ngIf='menu'>menu</mat-icon>
      <mat-icon *ngIf='!menu'>close</mat-icon>
    </button>
    <ul *ngIf='!menu'>
        <li
        *ngFor='let item of platensItems'
        >
        <app-button-menu 
        (send)='changeMenu()'
        [datafirst]='item'
        ></app-button-menu></li>
    </ul>
    <nav>
        <div
        *ngFor='let item of platensItems'
        >
        <a
        routerLink='/details/{{item.name}}'
        routerLinkActive="active"
        >{{item.name}}</a>
       </div>
    </nav>
    </div>
</header>