@keyframes roketAnimation  {
    0% {
        transform: rotate(
    360deg) translateX(90px);
    }
    100% {
        transform: rotate(
    0deg) translateX(90px);
    }
}

section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 185px;
    
    h2{
        font-size: 1.5rem;
        font-weight: 400;
        position: relative;
        width: max-content;
        margin: 30px auto;
    }
    h2::before, h2::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        }
    h2::before {
        background-color: rgb(7, 7, 36);
        animation: typewriter 6s steps(36) 1s forwards;
    }
            
    h2::after {
        width: 0.125em;
        background: white;
        animation: typewriter 6s steps(36) 1s forwards, blink 750ms steps(36) infinite;
    }
    p{
        font-size: 1.27rem;
        margin: 0px;
        span{
            font-weight: bolder;
        }
    }
    .textInformation{
        margin-top: 25px;
        font-size: 1.1rem;
        line-height: 35px;
    }
}


div{
    animation: zoomIn 1s both;
    margin-top: 25px;
    min-height: 233px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        cursor: pointer;
        width: 80px;
        animation: 6s linear 0s infinite normal none running roketAnimation;
    }
}

@keyframes typewriter {
    to {
    left: 100%;
    }
    }
    
    @keyframes blink {
    to {
    background: transparent;
    }
    }
    
    @keyframes fadeInUp {
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }
    @keyframes zoomIn {
        0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
        }
        50% {
        opacity: 1;
        }
        } 